$body-color: blue;

body {
  color: $body-color;
  text-align: center;
  background-color: aquamarine;
}
button {
  margin-top: 30%;
  height: 40px;
  padding: 8px;
  background: white;
  border: 1px solid #999999;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
}
